<div class="siteHeader__social">
  <a href="https://www.instagram.com/tedxyouthto/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/tedxyouthto/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a href="https://twitter.com/TEDxYouthTO"><i class="fa fa-twitter" aria-hidden="true"></i></a>
</div>
<header class="siteHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-md-2"></div>
      <div class="col-sm-6 col-md-6">
        <a href="/"><img src="/img/logo.png"/></a>
      </div>
      <div class="col-sm-4 col-md-4">
        <h3></h3>
        <h3>May 13th</h2>
        <p>May 13th<br>White Station High School Memphis, TN</p>
      </div>
    </div>
  </div>
  <!--
  <div class="siteHeader__section">
    <div class="siteHeader__LogoDate">
      <a class="siteHeaderLogo" href="/"><img src="/img/logo.png"/></a>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object img-responsive" width="100%" height="100%" src="/img/logo.png" alt="TEDxYouth WSHS logo">
          </a>
        </div>
        <div class="media-body">
          <h2 class="media-heading">November 13th</h2>
          <p>November 13th<br>White Station High School Memphis, TN</p>
        </div>
      </div>
      <!--
      <h2 class="siteHeader__item--date">November 13th<br>White Station High School Memphis, TN</h2>
    </div>
    -->
    <div class="siteHeader__nav">
      <ul>
        <li><a class="siteHeader__item" href="/">Home</a></li>
        <li><a class="siteHeader__item" href="/speakers/">Speakers</a></li>
        <li><a class="siteHeader__item" href="/community/">Community</a></li>
        <!-- We don't need this right now
        <li><a class="siteHeader__item" href="/sponsors/">Sponsors</a></li>
        -->
        <li><a class="siteHeader__item" href="/team/">Team</a></li>
        <li><a class="siteHeader__item" href="/contact/">Contact Us</a></li>
        <!-- We don't need this right now
        <li><a class="siteHeader__item" href="/delegate/">Delegate Application</a></li>
        -->
      </ul>
    </div>
  </div>
</header>
